services:
    postgres:
        image: postgres:17-alpine
        restart: always
        user: postgres
        env_file:
            - path: .env
              required: true
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - postgres-data:/var/lib/postgresql/data
        networks: [net]
        ports: ["5432:5432"]
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 10s
            timeout: 5s
            retries: 5

    back:
        build:
            context: .
            dockerfile: ./back/Dockerfile
        restart: unless-stopped
        env_file:
            - path: .env
              required: true
        environment:
            DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
        ports: ["5000:3000"]
        depends_on:
            postgres:
                condition: service_healthy
        networks: [net]
    
    front:
        build:
            context: .
            dockerfile: ./front/Dockerfile
        restart: unless-stopped
        env_file:
            - path: .env
              required: true
        environment:
            AUTH_TRUST_HOST: "true"
        ports: ["3000:3000"]
        depends_on:
            back:
                condition: service_started
        networks: [net]

volumes:
    postgres-data:
        name: kntista-postgres-data

networks:
    net:
        name: kntista-net
