services:
  postgres:
    profiles: [prod]
    image: postgres:17-alpine
    container_name: kntista-postgres
    restart: always
    user: postgres
    env_file:
      - path: .env
        required: true
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes: [postgres-data:/var/lib/postgresql/data]
    networks: [net]
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-dev:
    profiles: !override [dev]
    extends: postgres
    container_name: kntista-postgres-dev
    volumes: !override [postgres-data-dev:/var/lib/postgresql/data]
    networks: !override [net-dev]

  back:
    profiles: [prod]
    container_name: kntista-back
    build:
      context: .
      dockerfile: ./back/Dockerfile
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    environment:
      NODE_ENV: production
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
    ports: ["5000:3000"]
    depends_on:
      postgres:
        condition: service_healthy
    networks: [net]

  back-dev:
    profiles: !override [dev]
    extends: back
    container_name: kntista-back-dev
    build:
      context: .
      dockerfile: ./back/Dockerfile
      target: dev
    environment:
      RUN_SEED: false
      NODE_ENV: development
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-dev:5432/${POSTGRES_DB}"
    depends_on: !override
      postgres-dev:
        condition: service_healthy
    networks: !override [net-dev]
    develop:
      watch:
        - action: sync
          path: ./back
          target: /app/back
          ignore:
            - node_modules
            - dist
            - generated
        - action: sync+restart
          path: ./.env
          target: /app/.env
        - action: sync+restart
          path: ./back/tsconfig.json
          target: /app/back/tsconfig.json
        - action: sync+restart
          path: ./back/webpack-hmr.config.js
          target: /app/back/webpack-hmr.config.js
        - action: rebuild
          path: ./back/package.json
        - action: rebuild
          path: ./package.json
        - action: rebuild
          path: ./bun.lock

  front:
    profiles: [prod]
    container_name: kntista-front
    build:
      context: .
      dockerfile: ./front/Dockerfile
    restart: unless-stopped
    env_file:
      - path: .env
        required: true
    environment:
      NODE_ENV: production
      AUTH_TRUST_HOST: "true"
    ports: ["3000:3000"]
    depends_on:
      back:
        condition: service_started
    networks: [net]

  front-dev:
    profiles: !override [dev]
    extends: front
    container_name: kntista-front-dev
    build:
      context: .
      dockerfile: ./front/Dockerfile
      target: dev
    environment:
      NODE_ENV: development
    depends_on: !override
      back-dev:
        condition: service_started
    networks: !override [net-dev]
    develop:
      watch:
        - action: sync
          path: ./front
          target: /app/front
          ignore:
            - node_modules
            - build
            - .react-router
        - action: sync+restart
          path: ./.env
          target: /app/front/.env
        - action: rebuild
          path: ./front/package.json
        - action: rebuild
          path: ./package.json
        - action: rebuild
          path: ./bun.lock
        - action: sync+restart
          path: ./front/tsconfig.json
          target: /app/front/tsconfig.json
        - action: sync+restart
          path: ./front/vite.config.ts
          target: /app/front/vite.config.ts
        - action: sync+restart
          path: ./front/react-router.config.ts
          target: /app/front/react-router.config.ts

volumes:
  postgres-data:
    name: kntista-postgres-data
  postgres-data-dev:
    name: kntista-postgres-data-dev

networks:
  net:
    name: kntista-net
  net-dev:
    name: kntista-net-dev
