name: Build
permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: [ "main" ]
    paths:
      - "**.js"
      - "**.mjs"
      - "**.ts"
      - "**.jsx"
      - "**.tsx"
      - "**.html"
      - "**.json"
  pull_request:
    branches: [ "main" ]
    paths:
      - "**.js"
      - "**.mjs"
      - "**.ts"
      - "**.jsx"
      - "**.tsx"
      - "**.html"
      - "**.json"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: ${{ runner.os }}-bun-

      - name: Create .env
        run: mv .env.example .env

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build front
        working-directory: front
        run: bun run build

      - name: Build back
        working-directory: back
        run: bun run build